body {
    background-color:#3a3a3a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color:#bbbbbb;
}

h2 {
    font-style:normal;
}

footer {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom:2%;
}

p.blocktext {
    font-family: "Courier New", "Lucida Console", monospace;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top {
    text-align: center;
}

.title-about {
    text-align: center;
    height: 1em;
}

#wrapper-about {
    text-align: center;
    padding-bottom:1%;
    padding-top:1%;
    display: flex;
}

.skills, .experience, .interests {
    display: inline-block;
    flex: 1;
  }

.projects {
    padding-bottom: 2.5%;
    text-align: center;
}

.gameCode, .mapsCode, .rfidCode {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    filter:blur(1px);
    -webkit-filter: blur(1px);
}

.container {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
    width: 400px;
    height: 310px;
}

#imgs {
    max-width:90%;
    height:auto;
}
