body {
    background-color:#3a3a3a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:15px;
}

h2 {
    color:#bbbbbb;
    font-style:normal;
}

footer {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom:2%;
}


.imageLeft {
    position:absolute;
    top:5px;
    left:5px;
}

.imageRight {
    position:absolute;
    top:5px;
    right:5px;
}

.top {
    /*width: 50%;*/
    /*border: 3px solid green;*/
    text-align: center;
    color:#bbbbbb;
    font-style: italic;
}

.skills {
    float:right;
    padding-right:20%;
    line-height:1.3em;
    color:#bbbbbb;
}

.interests {
    float:left;
    padding-left: 20%;
    line-height:1.3em;
    color:#bbbbbb;
}