body {
    background-color:#3a3a3a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color:#bbbbbb;
}

h2 {
    font-style:normal;
}

footer {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom:2%;
}

p.blocktext {
    font-family: "Courier New", "Lucida Console", monospace;
    margin-left: auto;
    margin-right: auto;
    
}

/*
.imageLeft {
    position:absolute;
    top:5px;
    left:5px;
}

.imageRight {
    position:absolute;
    top:5px;
    right:5px;
}
*/

.top {
    /*width: 50%;*/
    /*border: 3px solid green;*/
    text-align: center;
    font-style: italic;
}

.skills {
    float:right;
    padding-right:20%;
    line-height:1.3em;
}

.interests {
    float:left;
    padding-left: 20%;
    line-height:1.3em;
}

.projects {
    padding-top: 175px;
    text-align: center;
}

.gameCode {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    filter:blur(1px);
    -webkit-filter: blur(1px);
}

.mapsCode {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    filter:blur(1px);
    -webkit-filter: blur(1px);
}

.container {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
}

#imgs {
    max-width:100%;
    height:auto;
}
