.download {
    color: var(--cream);
    border-radius: 15px;
    border: 1px solid var(--dark-purple);
    background-color: var(--blue);
    text-decoration: none;
    padding: 10px;
}

.download:hover {
    color: var(--grey);
    transition: all 0.2s ease-out;
}