.exp-skill-container {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.exp-skill-container:first-child {
    margin-left: 0;
}

.text {
    color: var(--cream);
    border-radius: 15px;
    border: 1px solid var(--dark-purple);
    background-color: var(--blue);
    text-decoration: none;
    padding: 10px;
}

@media (max-width: 1280px) {
    .exp-skill-container {
        margin-left: 1rem;
    }
}

@media (max-width: 780px) {
    .exp-skill-container {
        margin-left: .5rem;
        margin-bottom: 2rem;
    }
}