.exp-item-container {
    transition: all 0.5s ease;
    border: 1px solid var(--cream);
    border-radius: 5px;
    height: 95%;
    padding: 1rem;
    max-width: 100%;
}

.exp-item-container:hover {
    background-color: #dff5ff;
    border-color:#c4e1eb;
}

.exp-li-snippet {
    margin-left: 1rem;
    list-style-type: '- ';
}

.exp-li-snippet:last-child {
    margin-bottom: 2rem;
}

.exp-item-link {
    text-decoration: none;
    color: inherit;
}

.exp-item-link:visited {
    color: inherit;
}

.exp-item-link:hover h3 {
    color: var(--grey);
    transition: all 0.5s ease-out;
}

.skill-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (max-width: 780px) {
    .skill-ul {
        justify-content: center;
    }
}