.home-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    min-height: 100%;
}

.home-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-right {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    justify-content: center;
}

.intro-section {
    margin-bottom: 10px;
}

.intro-paragraph {
    margin-bottom: 25px;
}

.profile-picture {
    max-height: 80%;
    max-width: 80%;
}

@media (max-width: 1280px) {
    .home-container {
        align-content: flex-start;
    }
    .home-left {
        min-width: 100%;
    }
    .home-right {
        align-items: center;
        text-align: center;
        min-width: 100%;
    }
}