.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 90vh;
    height: 100%;
    column-gap: 5rem;
}

.about-left {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1.4rem;
}

.about-right {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.about-paragraph {
    padding-right: 5rem;
} 

.experience-list,
.skills-list {
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: 5px;
    list-style-type: '- ';
}

