html, body, #root {
    height: 100%;
}

body {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

* {
    font-family: 'Lora', serif;
    --lightest-blue: #D8EBFB;
    --lighter-blue: #006466;
    --light-blue: #065a60 ;
    --lightish-blue: #0b525b;
    --blue: #144552;
    --dark-blue: #1b3a4b;
    --darkest-blue: #212f45;
    --indigo: #272640;
    --dark-purple: #312244;
    --purple: #3e1f47;
    --light-purple: #4d194d;
    --cream: #ffffed;
    --dark-grey: #4c4c4c;
    --grey: #808080;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, li {
    color: var(--dark-grey);
    margin-bottom: 5px;
}