.construction {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    min-height: 90vh;
    height: 100%;
}

.doggo {
    max-width: 200px;
    height: auto;
    margin-bottom: 30px;
}