.contact-container {
    padding: 4rem;
}

.contact-info {
    position: absolute;
    top: 35%;
}

.media-logo {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

.media-logo:hover {
    opacity: 0.5;
}

.media-list {
    list-style-type: none;
    display: flex;
}

.media-list li {
    margin-right: 12px;
}

.video-container {
    position: relative;
}

.transparent-overlay {
    z-index: 10;
    top: 0;
    width: 1020px;
    height: 575px;
    background-color: transparent;
    pointer-events: none,
}

.video-player,
.transparent-overlay {
    position: absolute;
    right: 0;
}