.exp-item-container {
    margin-top: 15px;
    transition: all 0.5s ease;
    border: 1px solid var(--cream);
    border-radius: 5px;
    height: 100%;   
}

.exp-item-container:hover {
    background-color: #dff5ff;
    border-color:#c4e1eb;
}

.exp-li-snippet {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 10px;
    list-style-type: '- ';
}

.exp-li-snippet:last-child {
    margin-bottom: 30px;
}

.exp-item-link {
    text-decoration: none;
    color: inherit;
}

.exp-item-link:visited {
    color: inherit;
}

.exp-item-link:hover {
    color: var(--grey);
    transition: all 0.3s ease-out;
}

.exp-item-dates {
    margin-top: 10px;
    margin-left: 20px;
}

.exp-item-title {
    margin-top: 5px;
    margin-left: 20px;
}

.skill-ul {
    display: flex;
}