.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 90vh;
    height: 100%;
}

.home-left {
    display: flex;
    margin-left: 1.4rem;
    margin-top: 1.4rem;
    align-items: center;
    justify-content: center;
}

.home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-picture {
    max-width: 500px;
    height: auto;
    border-radius: 3px;
}

.intro-section,
.intro-paragraph {
    padding: 10px;
}

.home-resume-button {
    margin-top: 20px;
    margin-left: 7px;
}