.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    height: 80px;
    background: linear-gradient(90deg, var(--dark-blue) 0%, var(--darkest-blue) 100%);
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    width: 65vw;
}

.nav-links {
    color: var(--cream);
    text-decoration: none;
}

.nav-links:hover {
    color: #808080;
    transition: all 0.2s ease-out
}

