<section class="section sec2 about" id="about">
    <div class="about-stats">
        <h4 class="stat-title">Skills & Tools</h4>
        <div class="progress-bars">
            <div class="progress-bar">
                <p class="prog-title">Cloud (AWS)</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Databases (MongoDB/MySQL)</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Web Dev (HTML5/CSS/JS)</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">JavaScript Frameworks (AngularJS)</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Web Scraping & Automation</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Unity (C#)</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Android Dev (Kotlin)</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Version Control (Git/Jira)</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Networks & Security</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Linux & Windows Systems</p>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Visual Studio IDE</p>
            </div>
        </div>
    </div>

    <h4 class="stat-title">Timeline</h4>
    <div class="timeline">
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <p class="tl-duration">Sept 2021 - Sept 2022</p>
            <h5>Technology Analyst <span> - University of Oregon</span></h5>
            <p>
                - Assisted students and staff with IT issues involving credentials and accounts<br/>
                - Updated and refactored Confluence articles to promote productivity<br/>
                - Worked closely with Information Security for threat mitigation
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <p class="tl-duration">June 2021 - Aug 2021</p>
            <h5>Infrastructure Service Ops Intern <span> - CDK Global</span></h5>
            <p>
                - Developed several automation tools in Python to compile and display diagnostic information and metrics from AWS, load-balancers (F5), and network<br/>
                - Optimization and integration of ticketing systems and digital workflow management <br/>
                - Developed knowledge in cloud infrastructure, CI/CD pipelines, and software lifecycle
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fa-solid fa-briefcase"></i>
            </div>
            <p class="tl-duration">May 2017 - June 2018</p>
            <h5>Emergency Department Scribe <span> - ABC Scribes</span></h5>
            <p>
                - Assisted physicians by notating 5-10 medical documents including patient history, physical exams, review of systems, and medications<br/>
                - Worked closely with insurance (HIPAA) for billing purposes<br/>
                - Occasionally helped with patient interactions
            </p>
        </div>
    </div>
</section>